USE [master]
GO
/****** Object:  Database [CINE]    Script Date: 20/04/2016 18:36:40 ******/
CREATE DATABASE [CINE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CINE.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CINE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CINE_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CINE]
GO
/****** Object:  Table [dbo].[ASIENTO]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIENTO](
	[ID_ASIENTO] [int] IDENTITY(1,1) NOT NULL,
	[AS_ASIENTOS] [nvarchar](20) NOT NULL,
	[AS_DISPONIBLE] [bit] NULL,
 CONSTRAINT [PK_ASIENTO] PRIMARY KEY CLUSTERED 
(
	[ID_ASIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[CL_NOMBRE] [nvarchar](50) NOT NULL,
	[CL_CEDULA] [nchar](10) NOT NULL,
	[CL_APELLIDO] [nvarchar](50) NOT NULL,
	[CL_APELLIDO_MATERNO] [nvarchar](50) NOT NULL,
	[CL_EMAIL] [nvarchar](50) NOT NULL,
	[CL_TELEFONO] [varchar](10) NOT NULL,
	[CL_EDAD] [int] NOT NULL,
	[CL_USUARIO] [nvarchar](30) NOT NULL,
	[CL_PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PELICULA]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULA](
	[ID_PELICULA] [int] IDENTITY(1,1) NOT NULL,
	[PL_TITULO] [nvarchar](50) NOT NULL,
	[PL_IDIOMA] [nvarchar](20) NOT NULL,
	[PL_CLASIFICACION] [nvarchar](3) NOT NULL,
	[PL_DURACION] [nvarchar](50) NOT NULL,
	[PL_IMAGEN] [image] NOT NULL,
	[PL_GENERO] [nvarchar](20) NOT NULL,
	[PL_SINOPSIS] [nvarchar](max) NULL,
	[PL_DIRECTOR] [nvarchar](50) NULL,
 CONSTRAINT [PK_PELICULA] PRIMARY KEY CLUSTERED 
(
	[ID_PELICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PPROYECCIO]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PPROYECCIO](
	[ID_FUNCION] [int] IDENTITY(1,1) NOT NULL,
	[FN_HORARIO] [nchar](10) NOT NULL,
	[ID_SALA] [int] NOT NULL,
	[ID_PELICULA] [int] NOT NULL,
 CONSTRAINT [PK_PROYECCION] PRIMARY KEY CLUSTERED 
(
	[ID_FUNCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESERVACION]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVACION](
	[RS_BOLETOS] [int] NOT NULL,
	[RS_VIGENTE] [smalldatetime] NOT NULL,
	[RS_COSTO_TOTAL] [money] NOT NULL,
	[ID_SALA] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_FUNCION] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALAS]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS](
	[ID_SALA] [int] NOT NULL,
	[SL_NOMBRE] [nvarchar](50) NOT NULL,
	[ID_SUCURSAL] [int] NOT NULL,
	[SL_TIPO] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK_SALAS] PRIMARY KEY CLUSTERED 
(
	[ID_SALA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[ID_SUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[SC_CUIDAD] [varchar](50) NULL,
 CONSTRAINT [PK_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[ID_SUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRABAJADOR]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRABAJADOR](
	[ID_TRABAJADOR] [int] IDENTITY(1,1) NOT NULL,
	[TB_NOMBRE] [nvarchar](50) NOT NULL,
	[TB_CEDULA] [nchar](10) NOT NULL,
	[TB_APELLIDO] [nvarchar](50) NOT NULL,
	[TB_APELLIDO_MATERNO] [nvarchar](50) NOT NULL,
	[TB_EMAIL] [nvarchar](50) NULL,
	[TB_TELEFONO] [varchar](10) NOT NULL,
	[TB_EDAD] [int] NOT NULL,
	[TB_USUARIO] [nvarchar](50) NOT NULL,
	[TB_PASSWORD] [nvarchar](50) NOT NULL,
	[TB_ACCESO] [nvarchar](max) NOT NULL,
	[ID_TBSUCURSAL] [int] NOT NULL,
 CONSTRAINT [PK_TRABAJADOR] PRIMARY KEY CLUSTERED 
(
	[ID_TRABAJADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__TRABAJAD__71DBCFC234A39412] UNIQUE NONCLUSTERED 
(
	[TB_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PPROYECCIO]  WITH CHECK ADD  CONSTRAINT [FK_PPROYECCIO_PELICULA] FOREIGN KEY([ID_PELICULA])
REFERENCES [dbo].[PELICULA] ([ID_PELICULA])
GO
ALTER TABLE [dbo].[PPROYECCIO] CHECK CONSTRAINT [FK_PPROYECCIO_PELICULA]
GO
ALTER TABLE [dbo].[PPROYECCIO]  WITH CHECK ADD  CONSTRAINT [FK_PPROYECCIO_SALAS] FOREIGN KEY([ID_SALA])
REFERENCES [dbo].[SALAS] ([ID_SALA])
GO
ALTER TABLE [dbo].[PPROYECCIO] CHECK CONSTRAINT [FK_PPROYECCIO_SALAS]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_PPROYECCIO] FOREIGN KEY([ID_FUNCION])
REFERENCES [dbo].[PPROYECCIO] ([ID_FUNCION])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_PPROYECCIO]
GO
ALTER TABLE [dbo].[SALAS]  WITH CHECK ADD  CONSTRAINT [FK_SALAS_SUCURSAL] FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[SALAS] CHECK CONSTRAINT [FK_SALAS_SUCURSAL]
GO
ALTER TABLE [dbo].[TRABAJADOR]  WITH CHECK ADD  CONSTRAINT [FK_TRABAJADOR_SUCURSAL] FOREIGN KEY([ID_TBSUCURSAL])
REFERENCES [dbo].[SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[TRABAJADOR] CHECK CONSTRAINT [FK_TRABAJADOR_SUCURSAL]
GO
/****** Object:  StoredProcedure [dbo].[Slogin]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Slogin]
@USUARIO nvarchar(50),
@PASSWORD nvarchar(50)
as
select ID_TRABAJADOR,TB_ACCESO,TB_NOMBRE,TB_APELLIDO
 FROM TRABAJADOR WHERE TB_USUARIO=@USUARIO AND TB_PASSWORD=@PASSWORD

GO
/****** Object:  StoredProcedure [dbo].[spBuscar_sucursales]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spBuscar_sucursales]
@textobuscar nvarchar(50)
as select * from SUCURSAL
where SC_PROVINCIA like @textobuscar + '%' --indica cualquier otro

GO
/****** Object:  StoredProcedure [dbo].[spEditar_sucursales]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spEditar_sucursales]
@ID_SUCURSAL int,
@SC_NOMBRE nvarchar(50),
@SC_PROVINCIA varchar(20),
@SC_CANTON varchar(20),
@SC_TELEFONO varchar(10)
as
update SUCURSAL set SC_NOMBRE=@SC_NOMBRE,SC_PROVINCIA=@SC_PROVINCIA,SC_CANTON=@SC_CANTON,SC_TELEFONO=@SC_TELEFONO
where ID_SUCURSAL=ID_SUCURSAL

GO
/****** Object:  StoredProcedure [dbo].[spEliminar_sucursales]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spEliminar_sucursales]
 @ID_SUCURSAL int
 as
 delete from SUCURSAL 
 where ID_SUCURSAL=@ID_SUCURSAL

GO
/****** Object:  StoredProcedure [dbo].[spInsertar_sucursales]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spInsertar_sucursales]
@ID_SUCURSAL int output,
@SC_NOMBRE nvarchar(50),
@SC_PROVINCIA varchar(20),
@SC_CANTON varchar(20),
@SC_TELEFONO varchar(10)
as insert into SUCURSAL(SC_NOMBRE,SC_PROVINCIA,SC_CANTON,SC_TELEFONO)
values(@SC_NOMBRE,@SC_PROVINCIA,@SC_CANTON,@SC_TELEFONO)

GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[spLogin]
 @USUARIO nvarchar(50),
@PASSWORD nvarchar(50)
as
select ID_TRABAJADOR,TB_NOMBRE,TB_APELLIDO,TB_ACCESO
 FROM TRABAJADOR WHERE TB_USUARIO=@USUARIO AND TB_PASSWORD=@PASSWORD

GO
/****** Object:  StoredProcedure [dbo].[spMostrar_sucursales]    Script Date: 20/04/2016 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spMostrar_sucursales]
as select top 200 * from SUCURSAL
order by ID_SUCURSAL desc

GO
USE [master]
GO
